<div class="jumbotron">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center text-primary">
      <h1>Login</h1>
      <hr/>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 vertical-right-divider">
          <form>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" aria-describedby="emailHelp" id="email" class="form-control" placeholder="Your Email here" required>
            </div>
            <div class="form-group">
              <label for="password">Passoword</label>
              <input type="password" id="password" class="form-control" placeholder="Your Password here" required>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-outline-primary btn-block">Login</button>
            </div>
          </form>
          <small class="text-muted">Need to Join? <a [routerLink]="['/signup']">Sign Up Here</a></small>
        </div>
        <div class="col-md-6 vertical-left-divider">
          <h3 class="text-center text-info">Or Login With</h3><br/><br/>
          <button class="btn btn-outline-primary btn-block">Login With Facebook</button><br/>
          <button class="btn btn-outline-danger btn-block">Login With Google</button>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
