<div class="jumbotron">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center text-primary">
      <h1>Sign Up</h1>
      <hr/>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 vertical-right-divider">
          <form>
            <div class="form-group">
              <label for="fullname">Full Name</label>
              <input type="text" id="fullname" class="form-control" placeholder="Your Name here" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" aria-describedby="emailHelp" id="email" class="form-control" placeholder="Your Email here" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="password">Passoword</label>
              <input type="password" id="password" class="form-control" placeholder="Your Password here" required>
            </div>
            <div class="form-group">
              <small class="form-text text-muted">
                By signing up, I agree to Job Listing's <a href="javascript:void(0)">Terms of Service</a> and <a href="javascript:void(0)">Privacy Policy</a>.
              </small><br/>
              <button type="button" class="btn btn-outline-primary btn-block">Sign Up</button>
            </div>
          </form>
          <small class="text-muted">Already a member? <a [routerLink]="['/login']">Login Here</a></small>
        </div>
        <div class="col-md-6 vertical-left-divider">
          <h3 class="text-center text-info">Or Signup With</h3><br/><br/>
          <button class="btn btn-outline-primary btn-block">Sign Up With Facebook</button><br/>
          <button class="btn btn-outline-danger btn-block">Sign Up With Google</button>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
